button.offcanvas-btn.me-2.btn.btn-primary {
    position: absolute;
    right: -53px;
    bottom: 200px;
    z-index: 100;
    transform: rotate(270deg);
    position: fixed;
    width: 120px;
}

@media only screen and (max-width: 600px) {
    button.offcanvas-btn.me-2.btn.btn-primary {
        position: absolute;
        right: -53px;
        bottom: 140px;
        z-index: 100;
        transform: rotate(270deg);
        position: fixed;
        width: 120px;
    }
  }